cowpy>=1.1.0
dnspython>=2.0.0
gitpython>=3.1.11
python-decouple
python-dotenv
pyrogram
pymongo
pybase64>=1.1.1
git+https://github.com/pyrogram/pyrogram.git
pySmartDL>=1.3.4
python-rapidjson>=1.4
python-dotenv>=0.15.0
pytz>=2020.4
oauth2client>=4.1.3
requests>=2.25.0
ruamel.yaml==0.18.5
aiohttp[speedups]>=3.7.3
git+https://github.com/mongodb/mongo-python-driver.git
Pillow==9.5.0
motor>=2.3.0
tgcrypto
ujson>=4.0.1
aiofiles>=0.6.0
pymediainfo
telegraph>=1.4.1
setuptools>=60.0.4
html-telegraph-poster>=0.2.31
psutil>=5.7.3
heroku3>=4.2.3
asyncurban>=0.3.3
# futures>=3.0.5
feedparser>=6.0.2
wget>=3.2
stagger>=1.0.0
selenium==3.141.0
numpy>=1.23.2
gtts>=2.2.4
hachoir>=3.1.1
vcsi
gitdb>=4.0.1,<5
typing-extensions>=3.7.4.3;python_version<"3.8"
spamwatch
youtube-search-python
nekosbest
google-api-python-client
rarfile
search-engine-parser

# Server

fastapi>=0.88.0
uvicorn>=0.20.0
